---
import '../tailwind.css';
import FlipWords from '../components/FlipWords.vue';
import BringYourOwnStyles from '../components/Home/BringYourOwnStyles.astro';
import InternationalReady from '../components/Home/InternationalReady.astro';
import ManagingForms from '../components/Home/ManagingForms.astro';
import FirstClassA11y from '../components/Home/FirstClassA11y.astro';
import Logo from '../assets/logo-grad.svg';
import SocialLinks from '../components/Home/SocialLinks.astro';
---

<html>
  <body class="h-full w-full bg-zinc-900">
    <div class="flex items-center justify-end px-10 py-5">
      <SocialLinks />
    </div>

    <main
      class="not-content mx-auto flex max-w-3xl flex-col items-center pt-40"
    >
      <img src={Logo.src} class="reveal h-16" />

      <h1
        class="mt-8 text-balance text-center text-6xl font-bold leading-tight"
      >
        <span class="heading-grad">Build</span>
        <FlipWords
          class="bg-gradient-to-br from-emerald-400 to-emerald-600 bg-clip-text text-left text-transparent"
          words={[
            'high-quality',
            'performant',
            'accessible',
            'validatable',
            'i18n-ready',
          ]}
          client:load
        />
        <br />
        <span class="heading-grad">Vue.js form components</span>
      </h1>

      <p class="mt-3 max-w-4xl text-balance text-center text-xl text-zinc-200">
        A collection of Vue.js composables for building forms with behaviors,
        interactions, internationalization, and accessibility built-in, ready
        for your markup and styles.
      </p>

      <div class="mt-16 grid grid-cols-2 gap-4">
        <a
          class="rounded-full bg-emerald-600 px-5 py-2.5 text-center text-lg font-medium text-white hover:bg-emerald-700"
          href="/guides/getting-started"
        >
          Get started
        </a>

        <a
          class="rounded-full bg-zinc-700 px-5 py-2.5 text-center text-lg font-medium text-white hover:bg-zinc-800"
          href="/guides/composables"
        >
          Composables
        </a>
      </div>

      <BringYourOwnStyles />
      <InternationalReady />
      <ManagingForms />
      <FirstClassA11y />
    </main>
  </body>
</html>

<style>
  @import 'https://unpkg.com/tailwindcss@3.4.14/src/css/preflight.css';

  html,
  body {
    height: 100%;
    width: 100%;
  }

  .reveal {
    opacity: 0;
    transform: translateY(-100%);
    animation: reveal 1s ease-in-out forwards;
  }

  @keyframes reveal {
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
</style>
