---
import SelectKeyboardDemo from './SelectKeyboardDemo.vue';
---

<section>
  <h2 class="heading-grad">
    <span
      class="bg-gradient-to-b from-amber-400 to-amber-600 bg-clip-text text-transparent"
    >
      Accessible
    </span>
    by design.
  </h2>

  <p class="section-description">
    All components built with Formwerk adapt to the markup
    <em>you want to use</em> and apply the suitable aria-attributes and states that
    ensures your inputs are screen-reader friendly and accessible.
  </p>

  <SelectKeyboardDemo class="mt-10" client:only="" />
</section>

<style>
  section {
    background: radial-gradient(
      closest-corner,
      rgba(59, 130, 246, 0.09) 0%,
      rgba(24, 24, 27, 0.1) 70%
    );
  }
</style>
