---
import Tabs from '@components/Home/Tabs.vue';
import { Code } from '@astrojs/starlight/components';
import TextFieldDemoCss from '@components/Home/TextField.vue';
import TextFieldDemoCssCode from '@components/Home/TextField.vue?raw';
import SliderTailwind from '@components/Home/Slider.vue';
import SliderTailwindCode from '@components/Home/Slider.vue?raw';
import SwitchOpenProps from '@components/Home/SwitchOpenProps.vue';
import SwitchOpenPropsCode from '@components/Home/SwitchOpenProps.vue?raw';
---

<section>
  <h2 class="heading-grad">
    Bring your own <span
      class="bg-gradient-to-b from-cyan-400 to-cyan-600 bg-clip-text text-transparent"
      >styles</span
    >.
  </h2>

  <p class="section-description">
    Formwerk doesn't have any styles or HTML, allowing you build your own custom
    design system with any styling or animation library. Each composables hooks
    into some designated elements, managing their behavior and state while
    leaving their structure and styling up to you.
  </p>

  <Tabs client:visible tabs={['CSS', 'Tailwind', 'OpenProps']}>
    <div slot="CSS" class="code-tab">
      <Code
        code={TextFieldDemoCssCode}
        lang="vue"
        class="!text-xs"
        title="TextField.vue"
        frame="code"
      />

      <div class="preview-frame">
        <div class="preview-frame-header">
          <h3 class="preview-frame-title">Preview</h3>
        </div>

        <div class="preview-frame-content">
          <TextFieldDemoCss
            client:visible
            label="Field"
            required
            min-length="4"
            placeholder="Enter text"
          />
        </div>
      </div>
    </div>

    <div slot="Tailwind" class="code-tab">
      <Code
        code={SliderTailwindCode}
        lang="vue"
        class="!text-xs"
        title="Slider.vue"
        frame="code"
      />

      <div class="preview-frame">
        <div class="preview-frame-header">
          <h3 class="preview-frame-title">Preview</h3>
        </div>

        <div class="preview-frame-content">
          <SliderTailwind
            client:visible
            label="Price Range"
            min={0}
            max={1000}
            step={10}
            model-value={[200, 800]}
          />
        </div>
      </div>
    </div>

    <div slot="OpenProps" class="code-tab">
      <Code
        code={SwitchOpenPropsCode}
        lang="vue"
        class="!text-xs"
        title="Switch.vue"
        frame="code"
      />

      <div class="preview-frame">
        <div class="preview-frame-header">
          <h3 class="preview-frame-title">Preview</h3>
        </div>

        <div class="preview-frame-content">
          <SwitchOpenProps client:visible label="Switch" />
        </div>
      </div>
    </div>
  </Tabs>
</section>

<style>
  section {
    background: radial-gradient(
      closest-corner,
      rgba(6, 182, 212, 0.22) 0%,
      rgba(24, 24, 27, 0.1) 70%
    );
  }
</style>
