---
import A11yDemo from './A11yDemo.vue';
---

<section>
  <h2 class="heading-grad">
    Out of the box
    <span
      class="bg-gradient-to-b from-blue-400 to-blue-600 bg-clip-text text-transparent"
      >Interactions</span
    >.
  </h2>

  <p class="section-description">
    All components built with Formwerk will have the keyboard shortcuts, focus
    management, and behaviors that your users expect and rely on.
  </p>

  <A11yDemo class="mt-10" client:only="" />
</section>

<style>
  section {
    background: radial-gradient(
      closest-corner,
      rgba(59, 130, 246, 0.09) 0%,
      rgba(24, 24, 27, 0.1) 70%
    );
  }
</style>
