---

---

<section class="mt-20 w-full self-start py-20">
  <h2 class="heading-grad text-5xl font-bold leading-tight">
    Built for
    <span
      class="bg-gradient-to-b from-pink-400 to-pink-600 bg-clip-text text-transparent"
      >international
    </span> users.
  </h2>

  <p class="mt-5 max-w-4xl text-xl text-zinc-400">
    Formwerk is built for international audiences, with support for RTL,
    localized number formatting and parsing with 3 numbering systems, and
    integration with <a href="https://vue-i18n.intlify.dev/">vue-i18n</a> and
    <a href="https://nuxt.com/docs/getting-started/i18n">nuxt-i18n</a>.
  </p>
</section>

<style>
  section {
    background: radial-gradient(
      closest-corner,
      rgba(236, 72, 153, 0.12) 0%,
      rgba(24, 24, 27, 0.1) 70%
    );
  }
</style>
