---
import I18nDemo from '@components/Home/I18nDemo.vue';
---

<section>
  <h2 class="heading-grad">
    Built for
    <span
      class="bg-gradient-to-b from-pink-400 to-pink-600 bg-clip-text text-transparent"
      >international
    </span> users.
  </h2>

  <p class="section-description">
    Formwerk is built for international audiences, with support for RTL,
    localized number formatting and parsing with multiple numbering systems, and
    integrates with <a
      target="_blank"
      rel="noopener"
      href="https://vue-i18n.intlify.dev/">vue-i18n</a
    > and
    <a
      target="_blank"
      rel="noopener"
      href="https://nuxt.com/docs/getting-started/i18n">nuxt-i18n</a
    >.
  </p>

  <I18nDemo class="mt-10" client:visible />
</section>

<style>
  section {
    background: radial-gradient(
      closest-corner,
      rgba(236, 72, 153, 0.09) 0%,
      rgba(24, 24, 27, 0.1) 70%
    );

    a {
      @apply text-pink-400;
    }
  }
</style>
