---
// import PhArrowRight from '~icons/ph/arrow-right';
import PhFeather from '~icons/ph/feather-bold';
import LogoWhite from '@assets/logo-w.svg';
---

<section>
  <span class="soon">Soon</span>

  <h2 class="heading-grad">
    Start with
    <span class="highlight">Starter Kits</span>!
  </h2>

  <p class="section-description">
    To get you started quickly, we are working on a few starter kits for you
    that you can easily copy into your project. You can choose the starting
    point that suits you the most and then make it your own.
  </p>

  <div class="mt-10 grid grid-cols-1 gap-4 md:grid-cols-2">
    <a href="" class="card">
      <h3 class="heading-grad flex items-center gap-2">
        <PhFeather class="size-8 text-rose-500" />
        Minimal
      </h3>

      <p class="description">
        A component kit that includes all Formwerk features with minimal
        styling, providing a clean foundation for your next project. Styled with
        plain CSS.
      </p>

      <p class="cta">
        Coming Soon
        <!-- Start with Unstyled -->
        <!-- <PhArrowRight /> -->
      </p>
    </a>

    <a href="" class="card">
      <h3 class="heading-grad">
        <img src={LogoWhite.src} class="logo" />
        Atma
      </h3>

      <p class="description">
        Our accented dark components used in the docs and showcase, styled with
        TailwindCSS.
      </p>

      <p class="cta">
        Coming Soon
        <!-- <PhArrowRight /> -->
      </p>
    </a>
  </div>
</section>

<style>
  section {
    background: radial-gradient(
      closest-corner,
      rgba(244, 63, 94, 0.06) 0%,
      rgba(24, 24, 27, 0.1) 70%
    );

    a {
      @apply text-rose-500 hover:text-rose-600;

      svg {
        @apply inline-block h-4 w-4;
      }
    }

    .highlight {
      @apply bg-gradient-to-b from-rose-400 to-rose-600 bg-clip-text text-transparent;
    }
  }

  .soon {
    @apply cursor-progress rounded-md bg-gradient-to-b from-rose-600 to-rose-800 px-3 py-1 text-lg font-bold text-white;
  }

  .card {
    @apply flex cursor-progress flex-col items-center rounded-lg border border-transparent bg-zinc-800/60 p-6 opacity-50 transition-colors duration-500 hover:border-rose-500/20 lg:items-start;

    h3 {
      @apply relative !text-2xl font-semibold;
    }

    .description {
      @apply mt-3 text-center text-zinc-400 lg:text-left;
    }

    .cta {
      @apply mt-6 inline-block text-lg font-semibold;

      svg {
        @apply inline-block size-6;
      }
    }

    .logo {
      @apply inline-block size-10;
    }
  }
</style>
