@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sl-text-h3: var(--sl-text-2xl);
  --sl-text-h4: var(--sl-text-xl);
}

@screen 2xl {
  :root {
    --sl-content-width: 50rem;
  }
}

tr > td:first-child {
  white-space: nowrap;
}

iframe {
  width: 100%;
  min-height: 500px;
  border: none;
}

.main-frame,
.sidebar-pane {
  scrollbar-width: thin;
  overflow-y: auto;
  overflow-y: overlay;
  scrollbar-color: rgb(63 63 70) transparent;
}

.right-sidebar-container {
  width: 24rem;
}

.main-pane {
  width: 100% !important;
  --sl-content-margin-inline: 20px 0 !important;
  --sl-content-width: 50rem;
}

.sl-markdown-content {
  p {
    max-width: 45rem;
  }

  li {
    max-width: 45rem;
  }
}

.site-title {
  img {
    height: calc(var(--sl-nav-height) - 42px);
  }
}
